<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Intland: Euro Cup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="templates :: header"></div>

<h2>Please fill out the following form to have a chance to win</h2>
<form method="post" action="/redeem" th:object="${request}">
    <label for="email">Your e-mail address:</label>
    <input type="email" th:field="*{email}"/><br><br>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid e-mail</p>
    <label for="address">Your address:</label>
    <input type="text" th:field="*{address}"/><br><br>
    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Invalid address</p>
    <label for="couponCode">Coupon code:</label>
    <input type="text" th:field="*{couponCode}"/><br><br>
    <p th:if="${#fields.hasErrors('couponCode')}" th:errors="*{couponCode}">Invalid coupon code</p>
    <label for="territory">Territory:</label>
    <select th:field="*{territoryId}">
        <option th:each="territory : ${territories}" th:value="${territory.territoryId}" th:text="${territory.name}">
        </option>
    </select><br><br>
    <p th:if="${#fields.hasErrors('territoryId')}" th:errors="*{territoryId}">Invalid territory.</p>
    <label for="agreedTerms">Terms and Condition:</label>
    <input type="checkbox" th:field="*{agreedTerms}"/> I agree<br><br>
    <p th:if="${#fields.hasErrors('agreedTerms')}" th:errors="*{agreedTerms}">You must agree with the Terms and Conditions.</p>
    <input type="submit" value="Submit">
</form>

</body>
</html>